#i1 {
    .title{
        font-size: 140px ;
        line-height: 172px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
}
#i2{
    button{
        color : white;
        &:hover{
            background-color: white !important;
            color: $colorBandung ; 
        }
    }
    .title-light{
        font-size: 48px;
        line-height: 90px;
        letter-spacing: 0.1em;
        .title{
            font-size: 48px;
        }
    }
}
#i3{
    margin-bottom: 30vh;
   .title{
       letter-spacing: 0.04em;
       &:nth-child(odd){
        font-size: 100px;
       }
       &:nth-child(even){
        font-size: 230px;
       }
   } 
}
#i4{
    padding-top: 30vh;
    height: 100vh;
    position: relative;
    .mascot{
        z-index: -1;
        height: 200px;
        width: 175px;
        position: absolute ;
        transition: 0.5s ;
    }
    .titleText{
        z-index: 1000 ;
        cursor: pointer;
    }
    .mascot1{
        top : auto;
        right: auto ;               
        bottom : 80%;
        left : 30% ;
    }
    #mascotBandung1{
        opacity: 1 ;
    }
    #mascotJogja1{
        opacity: 0 ;
    }
    #mascotBali1{
        opacity: 0 ;
    }
    .mascot2{
        top : 50%;
        right: auto ;               
        bottom : auto;
        left : 25% ;
    }
    #mascotBandung2{
        opacity: 1 ;
    }
    #mascotJogja2{
        opacity: 0 ;
    }
    #mascotBali2{
        opacity: 0 ;
    }    
    .mascot3{
        top : auto;
        right: auto ;               
        bottom : 80% ;
        left : 10% ;
    }
    #mascotBandung3{
        opacity: 1 ;
    }
    #mascotJogja3{
        opacity: 0 ;
    }
    #mascotBali3{
        opacity: 0 ;
    }
    .destination-wrapper {
        margin-top:22% ;
        display: flex ;
        flex-direction: column;
        justify-content: flex-end;
        bottom : 9vh ;        
        .destination{
            position: absolute ;
            width:100% ;
            z-index : -1
        }
        #destinationBandung1{
            width : 70vh ;
            opacity: 0.8 ;
        }
        #destinationJogja1{
            opacity: 0 ;
        }
        #destinationBali1{
            opacity: 0 ;
        }
        #destinationBandung2{
            margin-left: 50%;
            opacity: 0.8 ;
        }
        #destinationJogja2{
            right: 30%;
            opacity: 0 ;
        }
        #destinationBali2{
            right: 20%;
            opacity: 0 ;
        }
        #destinationBandung3{
            margin-left: 25%;
            opacity: 0.8 ;
        }
        #destinationJogja3{
            opacity: 0 ;
        }
        #destinationBali3{
            opacity: 0 ;
        }
    }
    .row{
        &:nth-child(2){
            margin-top: 25vh
        }
    }
    .destination{
        max-height: 334px ;
        width: 100% ;
    }
    .textPlace{
        height: 50vh ;
        position: absolute;
        width: 40vh;
        .textPlace-wrap{
            line-height: 7vh;
            position: absolute ;
            .subtitle-light{
                line-height: 30px;
            }
        }
        .textPlace-wrap-benefit{
            bottom: 40% ;
        }
        .textPlace-wrap-city{
            bottom: 60% ;
        }
        .wrap-text-bandung{
            opacity: 1 ;
        }
        .wrap-text-jogja{
            color : #095966;
            opacity: 0 ;
        }
        .wrap-text-bali{
            color : #615428 ;
            opacity: 0 ;
        }
    }
}
#i5{
    .title{
        font-size: 100px ;
    }
}
#i6{
    .title{
        font-size:80px
    }
}
.img-product{
    display:flex;
    justify-content:center;
    align-items:center;
    #img-product-home{
        position: fixed ;
        z-index: 100;
        .img-product-home{
            @include size(570px,auto) ;
        }
        .btn-buynow{
            @include positionButtonBuyNow(90%) ;
            position: absolute;
            z-index: 10;
            button {
                border: 2px solid $colorButtonBuy;    
                background-color: $backgroundButtonBuy ;
                color : $colorButtonBuy ;
                font-weight: 900;
                font-family: Cooper-Blk-BT ;
                &:hover {
                    background-color: $colorButtonBuy ;
                    color : $backgroundButtonBuy ;
                    transition : 0.5s
                }
            } 
            .pulseButtonBuy{
                position: absolute;
                z-index: -1;
                transition : 0.5s ;
                animation: pulse 2s infinite;
            }
        }
    }
}
.sosial-media {
    #tokped-sosmed{
        @include size(auto,100%);
    }
    img{
        @include sizeSquare(5vh) ;
    }
} 
.testi{
    border-radius: 10px;
    color: $textDark;
    height: 110%;
    &:nth-child(odd){
        transform: rotate(-4.97deg);
    }
    &:nth-child(even){
        transform: rotate(11.77deg);
    }
    img{
        @include sizeSquare(70px)
    }
}
.img-modal-product{
    transition : 0.5s ;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
.testi-warp {
	display: -ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 0; 
}
.w-40{
    width: 100%;
}

@keyframes pulse {
    0% {
        width : 1vh ;
        height: 1vh;
    }
    50% {
        width : 12vh ;
        height: 12vh;
        border: 0.1px solid $textDark;    
    }
    100% {
        width : 1vh ;
        height: 1vh;
    }

  }
  
/* Super Extra Large */
@media only screen  and (max-width: $screenSuperExtraLarge){
    #i1 {
        .title{
            font-size: 115px ;
        }
    }
    #i2{
        .title-light{
            font-size: 38px;
            line-height: 60px;
            letter-spacing: 0.1em;
            .title{
                font-size: 38px;
            }
        }
    }
    #i3{
       .title{
           letter-spacing: 0.04em;
           &:nth-child(odd){
            font-size: 80px;
           }
           &:nth-child(even){
            font-size: 200px;
           }
       } 
    }
    #i4 {
        .titlePlace{
            line-height: 62px;
        }
        .title {
            font-size : 52px
        }
        .outline {
            font-size: 52px;
        }
        .subtitle {
            font-size: 20px ; 
        }
        .subtitle-light {
            font-size: 20px ; 
        }
        .destination-wrapper {
            margin-top:28% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung2{
                margin-left: 35vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 15%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 10%;
                opacity: 0 ;
            }
        }
        // .textPlace{
        //     .textPlace-wrap{
        //         margin-top: 10vh ;
        //         bottom : 2vh ;
        //     }
        // }
    }    
    #i5{
        .title{
            font-size:100px ;
        }
        .h2-light {
            position: relative;
            left: 0 ;
            top : 0;
        }
    }
}


/* Extra Large */
@media only screen  and (max-width: $screenExtraLarge){
    .img-product{
        #img-product-home{
            margin-top: 0vh ;
            .btn-buynow{
                @include positionButtonBuyNow(95%) ;
            }
        }
    }
    #i1 {
        .title{
            font-size: 100px ;
            line-height: 140px;
        }
    }
    
    #i3{
        .title{
            letter-spacing: 0.04em;
            &:nth-child(odd){
             font-size: 60px;
            }
            &:nth-child(even){
             font-size: 110px;
            }
        } 
    }

    #i5{
        .title{
            font-size:80px ;
        }
        .h2-light {
            position: relative;
            left: 0 ;
            top : 0;
            font-size: 30px
        }
    }
    #i6{
        .title{
            font-size:50px
        }
        .title-light{
            font-size:35px
        }
    }
}

/* Large */
@media only screen  and (min-width: $screenMedium) and (max-width: $screenLarge){
    .img-product{
        #img-product-home{
            margin-top: 0vh ;
            .img-product-home{
                @include size(430px,auto) ;
            }
            .btn-buynow{
                @include positionButtonBuyNow(90%) ;
            }
        }
    }
    #i3{
       .title{
           letter-spacing: 0.04em;
           &:nth-child(odd){
            font-size: 60px;
           }
           &:nth-child(even){
            font-size: 110px;
           }
       } 
    }
    #i4{
        position: relative;
        .mascot{
            height: 150px;
            width: 125px;
            position: absolute ;
            transition: 0.5s ;
        }
        .destination-wrapper {
            margin-top:50% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung1{
                width : 40vh ;
            }
            #destinationBandung2{
                margin-left: 25vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 15%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 10%;
                opacity: 0 ;
            }
        }
        .row{
            &:nth-child(2){
                margin-top: 5vh
            }
        }
        .title {
            font-size : 52px
        }
        .outline {
            font-size: 52px;
        }
        .subtitle {
            font-size: 20px ; 
        }
        .subtitle-light {
            font-size: 20px ; 
        }
        // .textPlace{
        //     .textPlace-wrap{
        //         margin-top: 15vh ;
        //         bottom : 2vh ;
        //     }
        // }
        .mascot1{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 5% ;
        }
        .mascot2{
            top : auto;
            right: auto ;               
            bottom : 95%;
            left : 20% ;
        }
        .mascot3{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 25% ;
        }
    }
    #i6{
        .title{
            font-size:60px
        }
    }
}

/* Medium */
@media only screen and (min-width: $screenSmall) and (max-width: $screenMedium) {
    #i1 {
        .title{
            font-size: 85px ;
        }
    }
    #i2{
        .title-light{
            font-size: 28px;
            line-height: 45px;
            letter-spacing: 0.1em;
            .title{
                font-size: 28px;
            }
        }
    }
    .img-product{
        #img-product-home{
            margin-top: 0vh ;
            .img-product-home{
                @include size(380px,auto) ;
            }
            .btn-buynow{
                @include positionButtonBuyNow(90%) ;
            }
        }
    }
    #i3{
       .title{
           letter-spacing: 0.04em;
           &:nth-child(odd){
            font-size: 60px;
           }
           &:nth-child(even){
            font-size: 110px;
           }
       } 
    }
    #i4{
        position: relative;
        .mascot{
            height: 150px;
            width: 125px;
            position: absolute ;
            transition: 0.5s ;
        }
        .destination-wrapper {
            margin-top:60% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung1{
                width : 40vh ;
            }
            #destinationBandung2{
                margin-left: 25vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 10%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 5%;
                opacity: 0 ;
            }
        }
        .row{
            &:nth-child(2){
                margin-top: 5vh
            }
        }
        .title {
            font-size : 52px
        }
        .outline {
            font-size: 52px;
        }
        .subtitle {
            font-size: 15px ; 
        }
        .subtitle-light {
            font-size: 15px ; 
        }
        .textPlace{
            width: 30vh ;
            // .textPlace-wrap{
            //     margin-top: 25vh ;
            //     bottom : 0vh ;
            //     line-height: 6vh;
            // }
        }
        .mascot1{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 5% ;
            
        }
        .mascot2{
            top : auto;
            right: auto ;               
            bottom : 95%;
            left : 20% ;
        }
        .mascot3{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 25% ;
        }
    }
    #i6{
        .title{
            font-size:60px
        }
    }
}

/* Small */
@media only screen and (min-width: $screenExtraSmall) and (max-width: $screenSmall) {
    .img-product{
        position: fixed;
        z-index : 100;
        top: 70%;
        left: 75%;
        bottom: auto;
        right: auto;
        @include size(200px,auto) ;        
        #img-product-home{
            margin-top: 0vh ;
            .img-product-home{
                @include size(200px,auto) ;        
            }
            .btn-buynow{
                @include positionButtonBuyNow(80%) ;
            }
        }
    }
    #i2{
        h1{
            font-size: 60px;
            line-height: 68px;
            margin-bottom: 5vh;
        }
    }
    #i3{
        .title{
            letter-spacing: 0.04em;
            &:nth-child(odd){
             font-size: 40px;
            }
            &:nth-child(even){
             font-size: 90px;
            }
        } 
     }
    #i4{
        padding-top: 20vh ;
        .mascot{
            @include sizeSquare(150px)
        }
        .mascot1{
            top : auto;
            right: auto ;               
            bottom : 92%;
            left : 10% ;
        }
        .mascot2{
            top : auto;
            right: auto ;               
            bottom : 95%;
            left : 40% ;
        }
        .mascot3{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 65% ;
        }
        .title {
            font-size : 38px
        }
        .outline {
            font-size: 38px;
        }
        .subtitle {
            font-size: 15px ; 
        }
        .subtitle-light {
            font-size: 15px ; 
        }
        .textPlace{
            height: 20vh;
            .textPlace-wrap {
                line-height: 3vh; 
                position: absolute;
                // p{
                //     margin-bottom: 3rem ;
                // }
            }    
            .textPlace-wrap-benefit{
                top : 20% ;
            }
    
        }
        .destination-wrapper {
            margin-top:63% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung1{
                width : 40vh ;
            }
            #destinationBandung2{
                margin-left: 25vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 10%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 5%;
                opacity: 0 ;
            }
        }

    }
    #i5{
        .title{
            font-size: 60px ;
            span{
                position: relative ;
                font-size: 32px;
                font-family: Cooper-Lt-BT-Light ;
                @include positionButtonBuyNow(80%) ;
                width : 370px;
                left : 0 ;
                top : 10vh ;
                line-height:10vh ;
                text-align: left
            }
        }
    }
    #modalSelectOrder{
        img{
            @include sizeSquare(15vh)
        }
    }
}

/* Extra Small */
@media only screen and (min-width: $screenMaxSmall) and (max-width: $screenExtraSmall) {
    .img-product{
        position: fixed;
        z-index : 100;
        top: 75%;
        left: 75%;
        bottom: auto;
        right: auto;
        @include size(160px,auto) ;        
        #img-product-home{
            margin-top: 0vh ;
            .img-product-home{
                @include size(160px,auto) ;        
            }
            .btn-buynow{
                @include positionButtonBuyNow(80%) ;
                button{
                    font-size: 11px ;
                    padding-top : 3vh !important;
                    padding-bottom :3vh !important;
                }
            }
        }
    }
    #i1{
        button{
            padding-right : 2vh !important;
            padding-left : 2vh !important;
            font-size: 1rem;
        }
        .title{
            margin-top: 10vh;
            font-size: 80px ;
            line-height: 100px;
        }        
    } 
    #i2{
        h1{
            font-size: 45px;
            line-height: 68px;
            margin-bottom: 5vh;
        }
    }
    #i3{
        .title{
            letter-spacing: 0.04em;
            &:nth-child(odd){
             font-size: 40px;
            }
            &:nth-child(even){
             font-size: 90px;
            }
        } 
     }
    #i4{
        padding-top: 20vh ;
        .mascot{
            @include sizeSquare(150px)
        }
        .mascot1{
            top : auto;
            right: auto ;               
            bottom : 92%;
            left : 10% ;
        }
        .mascot2{
            top : auto;
            right: auto ;               
            bottom : 95%;
            left : 40% ;
        }
        .mascot3{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 65% ;
        }
        .title {
            font-size : 38px
        }
        .outline {
            font-size: 38px;
        }
        .subtitle {
            font-size: 15px ; 
        }
        .subtitle-light {
            font-size: 15px ; 
        }
        .textPlace{
            height: 20vh;
            .textPlace-wrap {
                line-height: 3vh; 
                position: absolute;
                // p{
                //     margin-bottom: 3rem ;
                // }
            }    
            .textPlace-wrap-benefit{
                top : 20% ;
            }
    
        }
        .destination-wrapper {
            margin-top:80% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung1{
                width : 20vh ;
            }
            #destinationBandung2{
                margin-left: 15vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 10%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 5%;
                opacity: 0 ;
            }
        }

    }
    #i5{
        .title{
            font-size: 60px ;
            span{
                position: relative ;
                font-size: 32px;
                font-family: Cooper-Lt-BT-Light ;
                @include positionButtonBuyNow(80%) ;
                width : 370px;
                left : 0 ;
                top : 10vh ;
                line-height:10vh ;
                text-align: left
            }
        }
    }
    #i6{
        .title{
            font-size:40px
        }
    }
    #modalSelectOrder{
        img{
            @include sizeSquare(12vh)
        }
    }
}

@media only screen and (max-width: $screenMaxSmall) {
    // .content{
    //     overflow-x : hidden;
    // }
    .img-product{
        position: fixed;
        // height: 100% ;
        z-index : 100;
        top: auto;
        left: auto;
        bottom: 10%;
        right: 20%;
        @include size(160px,auto) ;        
        #img-product-home{
            margin-top: 0vh ;
            .img-product-home{
                @include size(160px,auto) ;        
            }
            .btn-buynow{
                @include positionButtonBuyNow(80%) ;
                button{
                    font-size: 11px ;
                    padding-top : 3vh !important;
                    padding-bottom :3vh !important;
                }
            }
        }
    }
    #i1{
        button{
            padding-right : 2vh !important;
            padding-left : 2vh !important;
            font-size: 1rem;
        }
        .title{
            margin-top: 10vh;
            font-size: 80px ;
            line-height: 100px;
        }        
    } 
    #i2{
        h1{
            font-size: 45px;
            line-height: 68px;
            margin-bottom: 5vh;
        }
    }
    #i3{
        .title{
            letter-spacing: 0.04em;
            &:nth-child(odd){
             font-size: 25px;
            }
            &:nth-child(even){
             font-size: 60px;
            }
        } 
     }
    #i4{
        padding-top: 20vh ;
        .mascot{
            @include sizeSquare(150px)
        }
        .mascot1{
            top : auto;
            right: auto ;               
            bottom : 92%;
            left : 10% ;
        }
        .mascot2{
            top : auto;
            right: auto ;               
            bottom : 95%;
            left : 40% ;
        }
        .mascot3{
            top : auto;
            right: auto ;               
            bottom : 80%;
            left : 65% ;
        }
        .title {
            font-size : 38px
        }
        .outline {
            font-size: 38px;
        }
        .subtitle {
            font-size: 15px ; 
        }
        .subtitle-light {
            font-size: 15px ; 
        }
        .textPlace{
            height: 20vh;
            .textPlace-wrap {
                line-height: 3vh; 
                position: absolute;
                .subtitle-light{
                    line-height: 2vh;
                }
            }    
            .textPlace-wrap-benefit{
                top : 20% ;
            }
    
        }
        .destination-wrapper {
            margin-top:93% ;
            .destination{
                max-height: 334px ;
                width: 100% ;
            }
            #destinationBandung1{
                width : 20vh ;
            }
            #destinationBandung2{
                margin-left: 15vh;
                opacity: 1 ;
            }
            #destinationBandung3{
                width : 30vh ;
            }
            #destinationJogja2{
                right: 10%;
                opacity: 0 ;
            }
            #destinationBali2{
                right: 5%;
                opacity: 0 ;
            }
        }

    }
    #i5{
        .title{
            font-size: 60px ;
            span{
                position: relative ;
                font-size: 32px;
                font-family: Cooper-Lt-BT-Light ;
                @include positionButtonBuyNow(80%) ;
                width : 370px;
                left : 0 ;
                top : 10vh ;
                line-height:10vh ;
                text-align: left
            }
        }
    }
    #i6{
        .title{
            font-size:40px
        }
    }
    .before-footer{
        .title{
            font-size: 40px;
        }
    }
    #modalSelectOrder{
        h1{
            font-size: 30px
        }
        img{
            @include sizeSquare(10vh)
        }
    }

}
