#s1{
    color : $colorBandung ;
    padding-top : 0vh ;
    h1{
        font-size:32px ;
    }
    .card-body-buttonIndicator {
        padding: 1vh 1vh 0vh 1vh ;
        .img-shop-indicator{
            display: none;
        }
        cursor: pointer ;
    } 
    .img-product-shop{
        height: 570px ;
        width: auto;
    }
    .active-buttonIndicator{
        border: 2px solid $colorBasic ;
    }
    .buttonIndicatorBandung{
        background-color: $backgroundBandung ;
        p {
            color : $colorBandung ;
        }        
    }
    .buttonIndicatorJogja{
        background-color: $backgroundJogja ;
        p {
            color : $colorJogja ;
        }
    }
    .buttonIndicatorBali{
        background-color: $backgroundBali ;
        p{
            color : $colorBali ;
        }
    }
    #descriptionShopBandung{
        display: block;
    }
    #descriptionShopJogja{
        display: none;
    }
    #descriptionShopBali{
        display: none;
    }
    .body-small{
        font-size : 17px ;
    }
} 
#s2{
    h1{
        text-align: left;
    }
}
#s3{
    img{
        width: 100% ;
        height: auto ;
    }
    h1{
        font-size: 120px ;
    }
    .subtitle-whatInside{
        position: absolute ;
        font-size: 32px ;
        width: 500px ;
        top : 70% ;
        left : 40% ;
    }
    .testi-shop{
        &:nth-child(odd){
            transform: rotate(3.21deg);
        }
        &:nth-child(even){
            transform: rotate(-3.75deg);
        }    
    }
} 
#s4{
    .title{
        font-size: 140px ;
    }
}
.img-product-shop-accordion{
    @include sizeSquare(140px);
}
#shop-top-accordion{
    display:none;
    width:100%;
}
#shop-bottom-accordion{
    display:flex
}
#shop-top-accordion{
    display:none
}
.img-shop-what-inside{
    @include sizeSquare(270px);
    margin-bottom : 5vh
}
/* Extra Large */
@media only screen  and (max-width: $screenExtraLarge){
    .img-product-shop-accordion{
        @include sizeSquare(120px);
    }
    #s3{
        .subtitle-whatInside{
            width: 500px ;
            top : 80% ;
            left : 60% ;
        }
    } 
    #s3{
        h1{
            font-size: 100px ;
        }
        .subtitle-whatInside{
            position: absolute ;
            font-size: 22px ;
            width: 400px ;
            top : 75% ;
            left : 45% ;
        }
    } 
    
}
/* Large */
@media only screen  and (min-width: $screenMedium) and (max-width: $screenLarge){
    #s1{
        color : $colorBandung ;
        padding-top : 0vh ;
        h1{
            font-size:27px ;
        }
        .img-product-shop{
            height: 470px ;
            width: auto;
        }
    } 
}
/* Medium */
@media only screen and (min-width: $screenSmall) and (max-width: $screenMedium) {
    #s1{
        color : $colorBandung ;
        padding-top : 0vh ;
        h1{
            font-size:27px ;
        }
        .img-product-shop{
            @include size(470px,auto);
        }
        .subtitle-bold{
            font-size: 15px ;
        }
        .img-product-shop-accordion{
        @include sizeSquare(80px);
        }

    } 
    #s2{
        .img-shop-what-inside{
            @include sizeSquare(180px);
            margin-bottom : 5vh
        }
    }
    #s3{
        h1{
            font-size: 80px ;
        }
        .subtitle-whatInside{
            position: absolute ;
            font-size: 22px ;
            width: 400px ;
            top : 75% ;
            left : 45% ;
        }
        img{
            @include size(auto,100%);
            margin-bottom : 5vh
        }
        .card {
            .subtitle-light {
                font-size: 8px;
            }
        }
    } 
}

/* Small */
@media only screen and (min-width: $screenExtraSmall) and (max-width: $screenSmall) {
    #s1{
        padding-top : 0vh ;
        h1{
            font-size:27px ;
        }
        .img-product-shop{
            @include size(470px,auto);
        }
        .subtitle-bold{
            font-size: 15px ;
        }
        .img-product-shop-accordion{
        @include sizeSquare(80px);
        }
        #shop-bottom-accordion{
            display:none
        }
        #shop-top-accordion{
            display:flex
        }
        #shop-top-accordion{
            img {
                display:none ;
            }
        }
    } 
    #s2{
        .img-shop-what-inside{
            @include sizeSquare(180px);
            margin-bottom : 5vh
        }    
        .subtitle-light{
            font-size: 25px;
        }
    }
    #s3{
        h1{
            font-size: 60px ;
        }
        .subtitle-whatInside{
            position: absolute ;
            font-size: 22px ;
            width: 300px ;
            top : 65% ;
            left : 50% ;
        }
        img{
            @include size(auto,100%);
            margin-bottom : 5vh
        }
    } 

}

/* Extra Small */
@media only screen and (max-width: $screenExtraSmall) {
    #s1{
        padding-top : 0vh ;
        h1{
            font-size:27px ;
        }
        .img-product-shop{
            @include size(470px,auto);
        }
        .subtitle-bold{
            font-size: 15px ;
        }
        .img-product-shop-accordion{
        @include sizeSquare(80px);
        }
        #shop-bottom-accordion{
            display:none
        }
        #shop-top-accordion{
            display:flex
        }
        #shop-top-accordion{
            img {
                display:none ;
            }
        }
        .text-right{
            text-align: left !important;
        }
    } 
    #s2{
        .img-shop-what-inside{
            @include sizeSquare(180px);
            margin-bottom : 5vh
        }    
        .title{
            font-size:40px;
        }
        .subtitle-light{
            font-size: 20px;
        }
    }
    #s3{    
        h1{
            font-size: 40px ;
        }
        .subtitle-whatInside{
            position: absolute ;
            font-size: 18px ;
            width: 200px ;
            top : 65% ;
            left : 50% ;
        }
        .card{
            img{
                @include size(auto,100%);
                margin-bottom : 2vh
            }
            .subtitle-light{
                font-size: 8px
            }
            h2, .h2-light{
                font-size: 11px   
            }
        }
    }
    #s4{
        .title {
            font-size: 90px;
        }        
    }
}