#accordionWhatInside{ 
    .card-header{
        background-color: transparent;
        border:0px solid black
    }
    .card{
        border:0px solid black
    }
}
#accordionFAQ{
    .card-header{
        background-color: transparent;
        border:0px solid black
    }
    .card{
        border:0px solid black
    }
} 

