$background-main : linear-gradient(116.82deg, rgba(198, 235, 202, 0.5) 0%, rgba(198, 235, 202, 0) 100%), #235E50 ;
$textDark : #333333 ;
$textWhite : #FFFFFF ;
$screenSuperExtraLarge : 1550px ;
$screenExtraLarge : 1200px ;
$screenLarge : 1140px ;
$screenMedium : 992px ;
$screenSmall : 768px ;
$screenExtraSmall : 576px ;