section {
  padding-top: 20vh;
}

header {
  padding-top: 5vh;
}

.preloadImage {
  height: 0;
  width: 0;
}

body {
  color: #FFFFFF;
  overflow-x: hidden;
  background: radial-gradient(76.65% 107.78% at 23.35% 50%, rgba(198, 235, 202, 0.3) 0%, rgba(198, 235, 202, 0) 100%), #235E50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.before-footer {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

@font-face {
  font-family: Cooper-Blk-BT;
  src: url(../fonts/Cooper/coopbln.ttf);
}

@font-face {
  font-family: Cooper-LT-BT-Bold;
  src: url(../fonts/Cooper/cooperb.ttf);
}

@font-face {
  font-family: Cooper-MD-BT;
  src: url(../fonts/Cooper/cooper_medium_bt.ttf);
}

@font-face {
  font-family: Cooper-Lt-BT-Light;
  src: url(../fonts/Cooper/cooperl.ttf);
}

@font-face {
  font-family: Cooper-Bo-BT-Light;
  src: url(../fonts/Cooper/coopblo.ttf);
}

/* Font */
h1 {
  font-family: Cooper-LT-BT-Bold;
  font-size: 40px;
}

.h1-light {
  font-family: Cooper-Lt-BT-Light;
  font-size: 40px;
}

h2 {
  font-family: Cooper-Blk-BT;
  font-size: 32px;
}

.h2-light {
  font-family: Cooper-Lt-BT-Light;
  font-size: 32px;
}

.title {
  font-family: Cooper-Blk-BT;
  font-size: 56px;
}

.title-light {
  font-family: Cooper-Lt-BT-Light;
  font-size: 56px;
}

.subtitle {
  font-family: Cooper-MD-BT;
  font-size: 24px;
  margin-bottom: 0px;
}

.subtitle-bold {
  font-family: Cooper-LT-BT-Bold;
  font-size: 24px;
}

.subtitle-light {
  font-family: Cooper-Lt-BT-Light;
  font-size: 24px;
}

.body-large {
  font-family: Cooper-Lt-BT-Light;
  font-size: 20px;
}

.body-large-bold {
  font-family: Cooper-Lt-BT-Light;
  font-size: 20px;
  font-weight: bold;
}

.body-regular {
  font-family: Cooper-Lt-BT-Light;
  font-size: 16px;
}

.body-small {
  font-family: Cooper-Lt-BT-Light;
  font-size: 14px;
}

#i3 .title {
  font-size: 106px;
}

#i4 .titlePlace {
  line-height: 72px;
}

#i4 .title {
  font-size: 62px;
}

#i4 .outline {
  font-family: Cooper-Bo-BT-Light;
  font-size: 62px;
}

#i5 .title {
  font-size: 90px;
}

.before-footer .title {
  font-size: 184px;
}

#a1 .title {
  font-size: 80px;
}

/* Font */
/* Large */
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  h1 {
    font-size: 40px;
  }
  .h1-light {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  .h2-light {
    font-size: 32px;
  }
  .title {
    font-size: 56px;
  }
  .title-light {
    font-size: 46px;
  }
  .subtitle {
    font-size: 24px;
  }
  .subtitle-bold {
    font-size: 24px;
  }
  .subtitle-light {
    font-size: 24px;
  }
  .body-large {
    font-size: 20px;
  }
  .body-large-bold {
    font-size: 20px;
  }
  .body-regular {
    font-size: 16px;
  }
  .body-small {
    font-size: 14px;
  }
  .before-footer .title {
    font-size: 100px;
  }
}

/* Medium */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  h1 {
    font-size: 35px;
  }
  .h1-light {
    font-size: 35px;
  }
  h2 {
    font-size: 27px;
  }
  .h2-light {
    font-size: 27px;
  }
  .title {
    font-size: 50px;
  }
  .title-light {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
  .subtitle-bold {
    font-size: 20px;
  }
  .subtitle-light {
    font-size: 20px;
  }
  .body-large {
    font-size: 15px;
  }
  .body-large-bold {
    font-size: 15px;
  }
  .body-regular {
    font-size: 16px;
  }
  .body-small {
    font-size: 14px;
  }
  .before-footer .title {
    font-size: 120px;
  }
  #i3 .title {
    font-size: 70px;
  }
  #i5 .title {
    font-size: 60px;
  }
  .before-footer .title {
    font-size: 100px;
  }
}

/* Small */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  .h1-light {
    font-size: 35px;
  }
  h2 {
    font-size: 27px;
  }
  .h2-light {
    font-size: 27px;
  }
  .title {
    font-size: 50px;
  }
  .title-light {
    font-size: 50px;
  }
  .subtitle {
    font-size: 16px;
  }
  .subtitle-bold {
    font-size: 16px;
  }
  .subtitle-light {
    font-size: 16px;
  }
  .body-large {
    font-size: 20px;
  }
  .body-large-bold {
    font-size: 20px;
  }
  .body-regular {
    font-size: 16px;
  }
  .body-small {
    font-size: 14px;
  }
  .before-footer .title {
    font-size: 120px;
  }
  #i3 .title {
    font-size: 70px;
  }
  #i5 .title {
    font-size: 60px;
  }
  .before-footer .title {
    font-size: 80px;
  }
}

/* Extra Small */
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 35px;
  }
  .h1-light {
    font-size: 30px;
  }
  h2 {
    font-size: 27px;
  }
  .h2-light {
    font-size: 27px;
  }
  .title {
    font-size: 50px;
  }
  .title-light {
    font-size: 50px;
  }
  .subtitle {
    font-size: 16px;
  }
  .subtitle-bold {
    font-size: 16px;
  }
  .subtitle-light {
    font-size: 16px;
  }
  .body-large {
    font-size: 20px;
  }
  .body-large-bold {
    font-size: 20px;
  }
  .body-regular {
    font-size: 16px;
  }
  .body-small {
    font-size: 14px;
  }
  .before-footer .title {
    font-size: 120px;
  }
  #i3 .title {
    font-size: 70px;
  }
  #i5 .title {
    font-size: 60px;
  }
  .before-footer .title {
    font-size: 60px;
  }
  .testi p {
    font-size: 16px;
  }
}

.marquee {
  position: relative;
  max-width: 100%;
  height: 50px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee 32s linear infinite;
          animation: marquee 32s linear infinite;
}

.track-reverse {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: marquee-reverse 32s linear infinite;
          animation: marquee-reverse 32s linear infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@keyframes marquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@-webkit-keyframes marquee-reverse {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes marquee-reverse {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Large */
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .marquee {
    height: 50px;
  }
}

/* Medium */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Marquee */
  .marquee {
    height: 50px;
  }
  /* Marquee */
}

/* Small */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .marquee {
    height: 50px;
  }
}

/* Extra Small */
@media only screen and (max-width: 576px) {
  .marquee {
    height: 50px;
  }
}

#accordionWhatInside .card-header {
  background-color: transparent;
  border: 0px solid black;
}

#accordionWhatInside .card {
  border: 0px solid black;
}

#accordionFAQ .card-header {
  background-color: transparent;
  border: 0px solid black;
}

#accordionFAQ .card {
  border: 0px solid black;
}

.accordionFAQAbout .card-header {
  background-color: transparent;
  border: 0px solid black;
}

.accordionFAQAbout .card {
  border: 0px solid black;
}

#i1 .title {
  font-size: 140px;
  line-height: 172px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

#i2 button {
  color: white;
}

#i2 button:hover {
  background-color: white !important;
  color: green;
}

#i2 .title-light {
  font-size: 48px;
  line-height: 90px;
  letter-spacing: 0.1em;
}

#i2 .title-light .title {
  font-size: 48px;
}

#i3 {
  margin-bottom: 30vh;
}

#i3 .title {
  letter-spacing: 0.04em;
}

#i3 .title:nth-child(odd) {
  font-size: 100px;
}

#i3 .title:nth-child(even) {
  font-size: 230px;
}

#i4 {
  padding-top: 30vh;
  height: 100vh;
  position: relative;
}

#i4 .mascot {
  height: 200px;
  width: 175px;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#i4 .mascot1 {
  top: auto;
  right: auto;
  bottom: 80%;
  left: 20%;
}

#i4 #mascotBandung1 {
  opacity: 1;
}

#i4 #mascotJogja1 {
  opacity: 0;
}

#i4 #mascotBali1 {
  opacity: 0;
}

#i4 .mascot2 {
  top: auto;
  right: auto;
  bottom: auto;
  left: 20%;
}

#i4 #mascotBandung2 {
  opacity: 1;
}

#i4 #mascotJogja2 {
  opacity: 0;
}

#i4 #mascotBali2 {
  opacity: 0;
}

#i4 .mascot3 {
  top: auto;
  right: auto;
  bottom: auto;
  left: 60%;
}

#i4 #mascotBandung3 {
  opacity: 1;
}

#i4 #mascotJogja3 {
  opacity: 0;
}

#i4 #mascotBali3 {
  opacity: 0;
}

#i4 .destination-wrapper {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 9vh;
}

#i4 .destination-wrapper .destination {
  position: absolute;
  width: 100%;
  z-index: -1;
}

#i4 .destination-wrapper #destinationBandung1 {
  width: 70vh;
  opacity: 1;
}

#i4 .destination-wrapper #destinationJogja1 {
  opacity: 0;
}

#i4 .destination-wrapper #destinationBali1 {
  opacity: 0;
}

#i4 .destination-wrapper #destinationBandung2 {
  margin-left: 45vh;
  opacity: 1;
}

#i4 .destination-wrapper #destinationJogja2 {
  opacity: 0;
}

#i4 .destination-wrapper #destinationBali2 {
  opacity: 0;
}

#i4 .destination-wrapper #destinationBandung3 {
  opacity: 1;
}

#i4 .destination-wrapper #destinationJogja3 {
  opacity: 0;
}

#i4 .destination-wrapper #destinationBali3 {
  opacity: 0;
}

#i4 .row:nth-child(2) {
  margin-top: 5vh;
}

#i4 .destination {
  max-height: 334px;
  width: 100%;
}

#i4 .textPlace {
  height: 20vh;
}

#i4 .textPlace .textPlace-wrap {
  margin-top: 20vh;
  bottom: 0.5vh;
  line-height: 7vh;
  position: absolute;
}

#i4 .textPlace .textPlace-wrap .subtitle-light {
  line-height: 30px;
}

#i4 .textPlace .wrap-text-bandung {
  opacity: 1;
}

#i4 .textPlace .wrap-text-jogja {
  color: #095966;
  opacity: 0;
}

#i4 .textPlace .wrap-text-bali {
  color: #615428;
  opacity: 0;
}

#i5 .title {
  font-size: 100px;
}

#i6 .title {
  font-size: 80px;
}

.img-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-product #img-product-home {
  position: absolute;
  z-index: 100;
}

.img-product #img-product-home .img-product-home {
  height: 570px;
  width: auto;
}

.img-product #img-product-home .btn-buynow {
  top: 90%;
  left: 80%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 10;
}

.img-product #img-product-home .btn-buynow button {
  border: 2px solid #333333;
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 900;
  font-family: Cooper-Blk-BT;
}

.img-product #img-product-home .btn-buynow button:hover {
  background-color: #333333;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-product #img-product-home .btn-buynow .pulseButtonBuy {
  position: absolute;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.sosial-media img {
  height: auto;
  width: 100%;
}

.testi {
  border-radius: 10px;
  color: #333333;
  height: 110%;
}

.testi:nth-child(odd) {
  -webkit-transform: rotate(-4.97deg);
          transform: rotate(-4.97deg);
}

.testi:nth-child(even) {
  -webkit-transform: rotate(11.77deg);
          transform: rotate(11.77deg);
}

.testi img {
  height: 70px;
  width: 70px;
}

.testi-warp {
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  font-size: 0;
}

.w-40 {
  width: 100%;
}

@-webkit-keyframes pulse {
  0% {
    width: 1vh;
    height: 1vh;
  }
  50% {
    width: 12vh;
    height: 12vh;
    border: 0.1px solid #333333;
  }
  100% {
    width: 1vh;
    height: 1vh;
  }
}

@keyframes pulse {
  0% {
    width: 1vh;
    height: 1vh;
  }
  50% {
    width: 12vh;
    height: 12vh;
    border: 0.1px solid #333333;
  }
  100% {
    width: 1vh;
    height: 1vh;
  }
}

/* Super Extra Large */
@media only screen and (max-width: 1550px) {
  #i1 .title {
    font-size: 115px;
  }
  #i2 .title-light {
    font-size: 38px;
    line-height: 60px;
    letter-spacing: 0.1em;
  }
  #i2 .title-light .title {
    font-size: 38px;
  }
  #i3 .title {
    letter-spacing: 0.04em;
  }
  #i3 .title:nth-child(odd) {
    font-size: 80px;
  }
  #i3 .title:nth-child(even) {
    font-size: 200px;
  }
  #i4 .titlePlace {
    line-height: 62px;
  }
  #i4 .title {
    font-size: 52px;
  }
  #i4 .outline {
    font-size: 52px;
  }
  #i4 .subtitle {
    font-size: 20px;
  }
  #i4 .subtitle-light {
    font-size: 20px;
  }
  #i4 .destination-wrapper {
    margin-top: 25%;
  }
  #i4 .textPlace .textPlace-wrap {
    margin-top: 10vh;
    bottom: 2vh;
  }
  #i5 .title {
    font-size: 100px;
  }
  #i5 .h2-light {
    position: relative;
    left: 0;
    top: 0;
  }
}

/* Extra Large */
@media only screen and (max-width: 1200px) {
  .img-product #img-product-home {
    margin-top: 5vh;
  }
  .img-product #img-product-home .btn-buynow {
    top: 95%;
    left: 80%;
    bottom: 0;
    right: 0;
  }
  #i1 .title {
    font-size: 100px;
    line-height: 140px;
  }
  #i3 .title {
    font-size: 120px;
  }
  #i5 .title {
    font-size: 80px;
  }
  #i5 .h2-light {
    position: relative;
    left: 0;
    top: 0;
    font-size: 30px;
  }
}

/* Large */
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .img-product #img-product-home {
    margin-top: 0vh;
  }
  .img-product #img-product-home .img-product-home {
    height: 430px;
    width: auto;
  }
  .img-product #img-product-home .btn-buynow {
    top: 90%;
    left: 80%;
    bottom: 0;
    right: 0;
  }
  #i3 .title {
    letter-spacing: 0.04em;
  }
  #i3 .title:nth-child(odd) {
    font-size: 60px;
  }
  #i3 .title:nth-child(even) {
    font-size: 110px;
  }
  #i4 {
    position: relative;
  }
  #i4 .mascot {
    height: 150px;
    width: 125px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #i4 .destination-wrapper {
    margin-top: 35%;
  }
  #i4 .destination-wrapper #destinationBandung1 {
    width: 30vh;
  }
  #i4 .destination-wrapper #destinationBandung2 {
    margin-left: 25vh;
    opacity: 1;
  }
  #i4 .row:nth-child(2) {
    margin-top: 5vh;
  }
  #i4 .destination {
    max-height: 334px;
    width: 100%;
  }
  #i4 .title {
    font-size: 52px;
  }
  #i4 .outline {
    font-size: 52px;
  }
  #i4 .subtitle {
    font-size: 20px;
  }
  #i4 .subtitle-light {
    font-size: 20px;
  }
  #i4 .textPlace .textPlace-wrap {
    margin-top: 15vh;
    bottom: 2vh;
  }
  #i4 .mascot1 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 5%;
  }
  #i4 .mascot2 {
    top: auto;
    right: auto;
    bottom: 95%;
    left: 20%;
  }
  #i4 .mascot3 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 25%;
  }
  #i6 .title {
    font-size: 60px;
  }
}

/* Medium */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #i1 .title {
    font-size: 85px;
  }
  #i2 .title-light {
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.1em;
  }
  #i2 .title-light .title {
    font-size: 28px;
  }
  .img-product #img-product-home {
    margin-top: 0vh;
  }
  .img-product #img-product-home .img-product-home {
    height: 380px;
    width: auto;
  }
  .img-product #img-product-home .btn-buynow {
    top: 90%;
    left: 80%;
    bottom: 0;
    right: 0;
  }
  #i3 .title {
    letter-spacing: 0.04em;
  }
  #i3 .title:nth-child(odd) {
    font-size: 60px;
  }
  #i3 .title:nth-child(even) {
    font-size: 110px;
  }
  #i4 {
    position: relative;
  }
  #i4 .mascot {
    height: 150px;
    width: 125px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #i4 .destination-wrapper {
    margin-top: 40%;
  }
  #i4 .destination-wrapper #destinationBandung1 {
    width: 30vh;
  }
  #i4 .destination-wrapper #destinationBandung2 {
    margin-left: 20vh;
    opacity: 1;
  }
  #i4 .row:nth-child(2) {
    margin-top: 5vh;
  }
  #i4 .destination {
    max-height: 334px;
    width: 100%;
  }
  #i4 .title {
    font-size: 52px;
  }
  #i4 .outline {
    font-size: 52px;
  }
  #i4 .subtitle {
    font-size: 15px;
  }
  #i4 .subtitle-light {
    font-size: 15px;
  }
  #i4 .textPlace .textPlace-wrap {
    margin-top: 25vh;
    bottom: 0vh;
    line-height: 6vh;
  }
  #i4 .mascot1 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 5%;
  }
  #i4 .mascot2 {
    top: auto;
    right: auto;
    bottom: 95%;
    left: 20%;
  }
  #i4 .mascot3 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 25%;
  }
  #i6 .title {
    font-size: 60px;
  }
}

/* Small */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .img-product {
    position: absolute;
    z-index: 100;
    margin-bottom: 5vh;
    top: auto;
    left: 75%;
    bottom: 5%;
    right: auto;
    height: 200px;
    width: auto;
  }
  .img-product #img-product-home {
    margin-top: 0vh;
  }
  .img-product #img-product-home .img-product-home {
    height: 200px;
    width: auto;
  }
  .img-product #img-product-home .btn-buynow {
    top: 80%;
    left: 80%;
    bottom: 0;
    right: 0;
  }
  #i2 h1 {
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 5vh;
  }
  #i3 .title {
    letter-spacing: 0.04em;
  }
  #i3 .title:nth-child(odd) {
    font-size: 40px;
  }
  #i3 .title:nth-child(even) {
    font-size: 90px;
  }
  #i4 .mascot {
    height: 150px;
    width: 150px;
  }
  #i4 .mascot1 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 20%;
  }
  #i4 .mascot2 {
    top: auto;
    right: auto;
    bottom: 95%;
    left: 40%;
  }
  #i4 .mascot3 {
    top: auto;
    right: auto;
    bottom: 80%;
    left: 65%;
  }
  #i5 .title {
    font-size: 60px;
  }
  #i5 .title span {
    position: relative;
    font-size: 32px;
    font-family: Cooper-Lt-BT-Light;
    top: 80%;
    left: 80%;
    bottom: 0;
    right: 0;
    width: 370px;
    left: 0;
    top: 10vh;
    line-height: 10vh;
    text-align: left;
  }
}

/* Extra Small */
@media only screen and (max-width: 576px) {
  .img-product {
    position: absolute;
    z-index: 100;
    margin-bottom: 5vh;
    top: auto;
    left: 60%;
    bottom: 5%;
    right: 0;
    height: 160px;
    width: auto;
  }
  .img-product #img-product-home {
    margin-top: 0vh;
  }
  .img-product #img-product-home .img-product-home {
    height: 160px;
    width: auto;
  }
  .img-product #img-product-home .btn-buynow {
    top: 80%;
    left: 80%;
    bottom: 0;
    right: 0;
  }
  .img-product #img-product-home .btn-buynow button {
    font-size: 8px;
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
  }
  #i1 button {
    padding-right: 2vh !important;
    padding-left: 2vh !important;
    font-size: 1rem;
  }
  #i1 .title {
    margin-top: 10vh;
    font-size: 80px;
    line-height: 100px;
  }
  #i2 h1 {
    font-size: 45px;
    line-height: 68px;
    margin-bottom: 5vh;
  }
  #i4 .mascot {
    height: 100px;
    width: 250px;
  }
  #i5 .title {
    font-size: 60px;
  }
  #i5 .title span {
    position: relative;
    font-size: 32px;
    font-family: Cooper-Lt-BT-Light;
    top: 80%;
    left: 80%;
    bottom: 0;
    right: 0;
    width: 370px;
    left: 0;
    top: 10vh;
    line-height: 10vh;
    text-align: left;
  }
}

#s1 {
  color: #095A67;
}

#s1 .card-body-buttonIndicator {
  padding: 1vh 1vh 0vh 1vh;
  cursor: pointer;
}

#s1 .card-body-buttonIndicator .img-shop-indicator {
  display: none;
}

#s1 .img-product-shop {
  height: 570px;
  width: auto;
}

#s1 .active-buttonIndicator {
  border: 2px solid #FFFFFF;
}

#s1 .buttonIndicatorBandung {
  background-color: #1ECDEC;
}

#s1 .buttonIndicatorBandung p {
  color: #095A67;
}

#s1 .buttonIndicatorJogja {
  background-color: #FFDFB6;
}

#s1 .buttonIndicatorJogja p {
  color: #854A00;
}

#s1 .buttonIndicatorBali {
  background-color: #A37100;
}

#s1 .buttonIndicatorBali p {
  color: #615428;
}

#s1 #descriptionShopBandung {
  display: block;
}

#s1 #descriptionShopJogja {
  display: none;
}

#s1 #descriptionShopBali {
  display: none;
}

#s3 img {
  width: 100%;
  height: auto;
}

#s3 h1 {
  font-size: 140px;
}

#s3 .subtitle-whatInside {
  position: absolute;
  top: 15%;
  left: 70%;
}

#s3 .testi-shop:nth-child(odd) {
  -webkit-transform: rotate(3.21deg);
          transform: rotate(3.21deg);
}

#s3 .testi-shop:nth-child(even) {
  -webkit-transform: rotate(-3.75deg);
          transform: rotate(-3.75deg);
}

#s4 .title {
  font-size: 140px;
}

.img-product-shop-accordion {
  height: 140px;
  width: 140px;
}

#shop-top-accordion {
  display: none;
  width: 100%;
}

#shop-bottom-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#shop-top-accordion {
  display: none;
}

.img-shop-what-inside {
  height: 270px;
  width: 270px;
  margin-bottom: 5vh;
}

/* Extra Large */
@media only screen and (max-width: 1200px) {
  .img-product-shop-accordion {
    height: 120px;
    width: 120px;
  }
}

/* Large */
/* Medium */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .img-product-shop-accordion {
    height: 80px;
    width: 80px;
  }
  .img-product-shop {
    height: 630px;
    width: 270px;
  }
  .img-shop-what-inside {
    height: 180px;
    width: 180px;
    margin-bottom: 5vh;
  }
}

/* Small */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .img-product-shop-accordion {
    height: 80px;
    width: 80px;
  }
  .img-product-shop {
    height: 630px;
    width: 270px;
  }
  .img-shop-what-inside {
    height: 180px;
    width: 180px;
    margin-bottom: 5vh;
  }
  #shop-bottom-accordion {
    display: none;
  }
  #shop-top-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Extra Small */
@media only screen and (max-width: 576px) {
  .img-product-shop-accordion {
    height: 80px;
    width: 80px;
  }
  .img-product-shop {
    height: 630px;
    width: 270px;
  }
  #shop-bottom-accordion {
    display: none;
  }
  #shop-top-accordion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .img-shop-what-inside {
    height: 180px;
    width: 180px;
    margin-bottom: 5vh;
  }
}

#a1 .title {
  font-size: 138px;
}

#a2 {
  padding-bottom: 30vh;
}

#a2 .title {
  font-size: 78px;
}

#a2 img {
  position: absolute;
}

#a2 .mascot-about {
  height: 150px;
  width: 150px;
}

#a2 #mascotAbout1 {
  top: 130%;
  left: 40%;
}

#a2 #mascotAbout2 {
  top: 190%;
  left: 40%;
  height: auto;
  width: 150px;
}

#a2 #mascotAbout3 {
  top: 180%;
  right: 10%;
}

#a2 #productAbout1 {
  height: 800px;
  width: auto;
  bottom: 1%;
  left: 25%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

#a2 #productAbout2 {
  height: 400px;
  width: auto;
  top: 200%;
  left: 5%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

#a2 #productAbout3 {
  height: 400px;
  width: auto;
  top: 200%;
  left: 15%;
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

#a3 .title {
  letter-spacing: 0.07em;
  line-height: 132px;
  font-size: 106px;
}

#a3 .subtitle {
  position: absolute;
  width: 40vh;
  right: 40%;
  top: 325%;
}

#a4 .accordion-about-wrapper {
  margin-top: 10vh;
}

#a4 .btn-navigation-faq-about .btn {
  padding: 2vh 0vh 2vh 0vh;
  margin: 1vh 0vh 1vh 0vh;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#a4 .btn-navigation-faq-about .btn:hover {
  background-color: #FFFFFF !important;
  color: #235E50 !important;
}

#a4 .active-button-faq-about {
  background-color: #FFFFFF;
  color: #235E50;
}

#a4 #accordionAbout1 {
  display: block;
}

#a4 #accordionAbout2 {
  display: none;
}

#a4 #accordionAbout3 {
  display: none;
}

#a4 #accordionAbout4 {
  display: none;
}

/* Extra Large */
@media only screen and (max-width: 1200px) {
  #a1 .title {
    font-size: 70px;
  }
  #a2 img {
    width: 270px;
    height: 630px;
  }
}

/* Large */
@media only screen and (min-width: 992px) and (max-width: 1140px) {
  #a1 .title {
    font-size: 70px;
  }
}

/* Medium */
/* Small */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  #a1 .title {
    font-size: 50px;
  }
}

/* Extra Small */
@media only screen and (max-width: 576px) {
  #a1 .title {
    font-size: 40px;
  }
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2rem;
}

.content {
  display: none;
}
/*# sourceMappingURL=index.css.map */