
// Modules
@import './modules/variables' ;
@import './modules/mixins' ;
@import './modules/font' ;
@import './modules/marquee' ;
@import './modules/accordion' ;

// Pages
@import './pages/home' ;
@import './pages/shop' ;
@import './pages/about' ;


.loading {
    display: flex;
    height: 100vh ;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2rem;
}
.content{
    display: none;
}